.RegisterUser {
  width: 500px;
  padding: 25px 3px;
  border: 1px solid rgb(231, 231, 209);
  border-radius: 20px;
  position: fixed;
  height: fit-content;
  z-index: 1111;
  background-color: rgba(6, 0, 3, 0.439);
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
.logo {
  color: #fff;
  font-size: 1.5rem;
  margin-bottom: 20px;
}

.formStyle {
  position: relative;
  width: 80%;
  left: 10%;
}
.formStyle input {
  border: none;
  background-color: rgba(255, 255, 255, 0.713);
}
.btnR {
  background-color: #0fc8f6;
  border-radius: 100px;
  border: none;
  width: 100%;
  margin-top: 10px;
}
.successN {
  color: green;
  font-size: 12px;
}
.failure {
  color: red;
  font-size: 12px;
}
.crossR {
  position: absolute;
  top: 5%;
  color: #fff;
  right: 5%;
  cursor: pointer;
  padding: 1px;
}
.crossR:hover {
  color: red;
}
@media (max-width: 560px) {
  .RegisterUser {
    width: 90%;
  }
}
