.head p {
  position: absolute;
  font-size: 20px;
  right: 10%;
  top: 20%;
  background-color: transparent;
  border: none;
  cursor: pointer;
}
.head p:hover {
  color: red;
}
.cartCard {
  position: absolute;
  top: 20%;
  left: 40%;
  width: 50%;

  background-color: #fff;
  color: #000;
}
.cardCross {
  color: red;
  position: absolute;
  top: 3%;
  right: 3%;
  font-size: 24px;
}
.cartCard .card-title {
  font-size: 1.2rem;
  text-align: left;
  margin-bottom: 25px;
  color: rgb(2, 2, 51);
  font-weight: 500;
}
