@import url("https://fonts.googleapis.com/css2?family=Lobster&display=swap");
.NavBack {
  background-color: #041531;
}
.navbar-brand,
.navbrand {
  font-family: "Lobster", cursive;
}
.navbrand {
  color: rgb(4, 118, 116);
}
.nav-item {
  padding: 3px 5px;
  border: none;
}
.nav-item a {
  color: #fff;
}
.nav-item a:hover {
  color: #6ba1f8;
}
